@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fcf8f3; /* Your navbar bg color */
}
html, body, #root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fcf8f3; /* Your navbar bg color */
}


